<h3>Shopping Cart</h3>
<?php if (!$this->cart()->isEmpty()): ?>
<form action="<?= $this->url('cart', ['action' => 'update']); ?>" method="post">
    <table class="table table-bordered">
        <tr>
            <th>Article</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        <tbody>
        <?php
        /** @var \Ultima\Order\Entity\CartItem $item */
        foreach ($items as $item): ?>
            <tr>
                <td><?= $item->getId(); ?></td>
                <td><?= $item->getName(); ?></td>
                <td><input style="width: 100px;" class="form-control" value="<?= $item->getQuantity(); ?>" name="quantity[<?= $item->getId(); ?>]" /></td>
                <td><?= $item->getTotal(); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td><?= $this->cart()->getTotal(); ?></td>
        </tr>
        </tfoot>
    </table>
    <div class="text-right">
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>
<?php else: ?>
    <div class="alert alert-info">Cart is empty</div>
<?php endif; ?>
