<?php
use Ultima\Catalog\Filter\RangeFilter;
use Ultima\Catalog\Filter\Filter;
use Ultima\Catalog\Filter\FilterValue;
?>
<aside class="col-lg-3">
    <?php if (count($products) && count($filters)): ?>
        <form method="get">
            <?php
            /** @var RangeFilter $priceFilter */
            $priceFilter = $filters->getFilter('price');
            ?>
            <span class="filter-name"><?= $priceFilter->getName(); ?><?php if ($priceFilter->getUnit()): ?>, <?= $priceFilter->getUnit(); ?><?php endif; ?></span>
            <div class="form-group">
                <div class="pull-left col-lg-6 pl0">
                    <label>From</label>
                    <input class="form-control" type="text" value="<?= $priceFilter->getSelectRangeMin() ?: $priceFilter->getMinValue(); ?>" name="min[<?= $priceFilter->getId(); ?>]">
                </div>
                <div class="pull-left col-lg-6 pl0">
                    <label>To</label>
                    <input style="width: 100px;" class="form-control" type="text" value="<?= $priceFilter->getSelectRangeMax() ?: $priceFilter->getMaxValue(); ?>" name="max[<?= $priceFilter->getId(); ?>]">
                </div>
            </div>

            <?php
            /** @var Filter $filter */
            foreach ($filters as $filter): ?>
                <?php if (!$filter->isEmpty()): ?>
                    <div class="filter clearfix">
                        <span class="filter-name"><?= $filter->getName(); ?><?php if ($filter->getUnit()): ?>, <?= $filter->getUnit(); ?><?php endif; ?></span>
                        <?php if ($filter instanceof RangeFilter): ?>
                            <div class="form-group">
                                <div class="pull-left col-lg-6 pl0">
                                    <label>From</label>
                                    <input class="form-control" type="text" value="<?= $filter->getSelectRangeMin() ?: $filter->getMinValue(); ?>" name="min[<?= $filter->getId(); ?>]">
                                </div>
                                <div class="pull-left col-lg-6 pl0">
                                    <label>To</label>
                                    <input style="width: 100px;" class="form-control" type="text" value="<?= $filter->getSelectRangeMax() ?: $filter->getMaxValue(); ?>" name="max[<?= $filter->getId(); ?>]">
                                </div>
                            </div>
                        <?php else: ?>
                            <?php
                            /** @var FilterValue $filterValue */
                            foreach ($filter->getNotEmptyValues() as $filterValue): ?>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="<?= $filter->getId(); ?>[]" value="<?= ($filter->isBoolean() || $filter->isNumeric()) ? $filterValue->getValue() : $filterValue->getId(); ?>" <?php if ($filterValue->isSelected()): ?>checked<?php endif ?>/><?= $filterValue->getValue(); ?><span>&nbsp;(<?= $filterValue->getProductsCount(); ?>)</span>
                                    </label>
                                </div>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </div>
                <?php endif; ?>
            <?php endforeach; ?>
            <?php if ($sortingColumn && $sortingDirection): ?>
                <input type="hidden" name="sortBy" value="<?= $sortingColumn ?>" />
                <input type="hidden" name="sortDir" value="<?= $sortingDirection ?>" />
            <?php endif; ?>
            <button type="submit" class="btn btn-warning btn-block mt20">Apply</button>
            <a href="<?= $this->url('category', ['id' => $categoryId]); ?>" class="btn btn-default btn-block mt20">Reset</a>
        </form>
    <?php endif; ?>
</aside>
<main class="col-lg-9">
    <div class="clearfix mb15">
        <div class="dropdown">
            <a href="#" class="dropdown-toggle" id="dropdownMenu1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Sort by<span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li <?php if ($sortingColumn == 'price' && $sortingDirection == 'desc'): ?>class="disabled"<?php endif; ?>>
                    <?php
                    $queryString = preg_replace('/[&|?]?sortBy=[a-z]+|[&|?]?sortDir=[a-z]+/', '', $_SERVER['QUERY_STRING']);
                    ?>
                    <a href="<?= $queryString ? '?' . $queryString . '&' : '?'; ?>sortBy=price&sortDir=desc">Price descending</a>
                </li>
                <li <?php if ($sortingColumn == 'price' && $sortingDirection == 'asc'): ?>class="disabled"<?php endif; ?>>
                    <a href="<?= $queryString ? '?' . $queryString . '&' : '?' ?>sortBy=price&sortDir=asc">Price ascending</a>
                </li>
            </ul>
        </div>
    </div>
    <h3><?= $category->getName(); ?></h3>
    <?php if (count($products)): ?>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Preview</th>
                <th>Name</th>
                <th>Price</th>
                <th>Old Price</th>
                <th>Available quantity</th>
                <th>Suborder quantity</th>
                <th>Pickup date</th>
                <th>Action</th>
            </tr>
            <?php
            /** @var \Ultima\Catalog\Entity\Product $product */
            foreach ($products as $product): ?>
                <tr>
                    <td><?= $product->getId() ?></td>
                    <td><a href="#"><img src="" /></a></td>
                    <td style="width: 300px"><a href="<?= $this->url('product', ['id' => $product->getId()]); ?>"><?= $product->getName(); ?></a></td>
                    <?php $price = $product->getPrice() ?>
                    <td><?= $price->getValue(); ?></td>
                    <td><?= $price->getPrevValue(); ?></td>
                    <td class="text-center"><?= $product->getAvailableQuantity() ?></td>
                    <td class="text-center"><?= $product->getSuborderQuantity() ?></td>
                    <td><?= $product->getPickupDate('d.m.Y')?></td>
                    <td class="text-right">
                        <?php if ($this->cart()->hasProduct($product)): ?>
                            <a class="btn btn-danger btn-sm" href="<?= $this->url('cart/wildcard', ['action' => 'remove', 'product' => $product->getId()]); ?>">Remove from cart</a>
                        <?php else: ?>
                            <a class="btn btn-default btn-sm" href="<?= $this->url('cart/wildcard', ['action' => 'add', 'product' => $product->getId()]); ?>">Add to cart</a>
                        <?php endif; ?>
                        <?php if ($this->comparison()->hasProduct($product->getId())): ?>
                            <a class="btn btn-danger btn-sm" href="<?= $this->url('compare', ['action' => 'remove'], ['query' => ['categoryId' => $categoryId, 'productId' => $product->getId()]]); ?>">Don't compare</a>
                        <?php else: ?>
                            <a class="btn btn-default btn-sm" href="<?= $this->url('compare', ['action' => 'add'], ['query' => ['categoryId' => $categoryId, 'productId' => $product->getId()]]); ?>">Compare</a>
                        <?php endif; ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>
        <nav class="text-center" aria-label="Page navigation">
            <?= $this->paginationControl($products,
                'Sliding',
                'layout/partial/pagination', ['route' => 'category/wildcard', 'params' => ['id' => $categoryId]]); ?>
        </nav>
    <?php endif; ?>
</main>