<?php
$flash = $this->flashMessenger();
$flash->setMessageOpenFormat('<div%s role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div>')
    ->setMessageSeparatorString('</div><div>')
    ->setMessageCloseString('</div></div>');
?>

<?= $flash->render('default', ['alert', 'alert-dismissible']); ?>
<?= $flash->render('info', ['alert', 'alert-dismissible', 'alert-info']); ?>
<?= $flash->render('error', ['alert', 'alert-dismissible', 'alert-danger']); ?>
<?= $flash->render('success', ['alert', 'alert-dismissible', 'alert-success']); ?>
<?= $flash->render('warning', ['alert', 'alert-dismissible', 'alert-warning']); ?>