<ul class="nav navbar-nav">
    <?php foreach ($this->container as $page): ?>
        <li <?php if (count($page->getPages())): ?>class="dropdown"<?php endif ?>>
            <a <?php if (count($page->getPages())): ?>class="dropdown-toggle" data-toggle="dropdown"<?php endif ?> href="<?= $page->getHref(); ?>"><?= $page->getLabel(); ?><?php if (count($page->getPages())):?><span class="caret"></span><?php endif; ?></a>
            <?php if (count($page->getPages())): ?>
                <ul class="dropdown-menu">
                    <?php foreach ($page->getPages() as $child): ?>
                        <li><a href="<?= $child->getHref(); ?>"><?= $child->getLabel(); ?></a></li>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>
        </li>
    <?php endforeach; ?>
</ul>