<h3 class="page-header mt0">General</h3>
<div class="row">
    <form class="col-lg-6" action="<?= $this->url('account'); ?>" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Email" name="email" value="<?= $client->getEmail(); ?>">
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" placeholder="Phone" name="phone" value="<?= $client->getPhone(); ?>">
        </div>
        <div class="form-group">
            <label>Last name</label>
            <input type="text" class="form-control" placeholder="Last name" name="lastName" value="<?= $client->getLastName(); ?>">
        </div>
        <div class="form-group">
            <label>First name</label>
            <input type="text" class="form-control" placeholder="First name" name="firstName" value="<?= $client->getFirstName(); ?>">
        </div>
        <div class="form-group">
            <label>Middle name</label>
            <input type="text" class="form-control" placeholder="Middle name" name="middleName" value="<?= $client->getMiddleName(); ?>">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>