<h3>Product Comparison</h3>
<?php if (count($products)): ?>
<table class="table">
    <tr>
        <th></th>
        <?php foreach ($products as $product): ?>
            <th class="text-center">
                <?= $product->getName(); ?><br />
                <a class="btn btn-danger" target="_blank" href="<?= $this->url('compare', ['action' => 'remove'], ['query' => ['productId' => $product->getId(), 'categoryId' => $categoryId]]); ?>">Remove</a>
            </th>
        <?php endforeach; ?>
    </tr>
    <?php foreach ($productsProperties['properties'] as $propertyId => $property): ?>
        <tr <?php if (count($products) != count($productsProperties['products']) || count($property['values']) > 1): ?>class="danger"<?php endif; ?>>
            <td><?= $property['name']; ?></td>
            <?php foreach ($products as $productId => $product): ?>
                <?php
                $propertyValue = $productsProperties['products'][$productId][$propertyId] ?? '&mdash;';
                ?>
                <td class="text-center"><?= is_array($propertyValue) ? join(',', $propertyValue) : $propertyValue; ?></td>
            <?php endforeach; ?>
        </tr>
    <?php endforeach; ?>
</table>
<?php else: ?>
<div class="alert alert-info">Nothing to compare</div>
<?php endif; ?>
