<h3 class="page-header mt0"><?= $address->getId() ? 'Edit Address' : 'Create Address' ?></h3>
<div class="row">
    <form class="col-lg-6" action="<?= $address->getId() ? $this->url('account/addresses/edit', ['id' => $address->getId()]) : $this->url('account/addresses/create') ?>" method="post">
        <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" placeholder="Address" name="address" value="<?= $address->getAddress(); ?>">
            <?= $this->validationErrors('address'); ?>
        </div>
        <button type="submit" class="btn btn-primary"><?= $address->getId() ? 'Update' : 'Create'; ?></button>
    </form>
</div>