<h3 class="page-header mt0">Addresses</h3>
<a class="btn btn-primary" href="<?= $this->url('account/addresses/create'); ?>">Create Address</a>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($addresses as $address): ?>
            <tr>
                <td><?= $address->getId(); ?></td>
                <td><?= $address->getAddress(); ?></td>
                <td>
                    <a href="<?= $this->url('account/addresses/edit', ['id' => $address->getId()])?>">Edit</a>
                    <a onclick="return confirm('Are you sure you want to delete this address?');" href="<?= $this->url('account/addresses/delete', ['id' => $address->getId()])?>">Delete</a>
                </td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>