<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body class="login">
    <div class="col-lg-4 col-lg-offset-4 mt20">
        <div class="panel panel-default">
            <div class="panel-heading">Sign in</div>
            <div class="panel-body">
                <?php if (isset($messages)): ?>
                    <?php foreach ($messages as $message): ?>
                        <p class="text-danger"><?= $message; ?></p>
                    <?php endforeach; ?>
                <?php endif; ?>
                <form action="<?= $this->url('login'); ?>" method="post">
                    <div class="form-group">
                        <label>Email address</label>
                        <input class="form-control" type="email" placeholder="Email" name="email"/>
                        <?= $this->validationErrors('email'); ?>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" placeholder="Password" name="password"/>
                        <?= $this->validationErrors('password'); ?>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    </body>
</html>