<h3 class="page-header mt0"><?= $agent->getId() ? 'Edit Agent' : 'Create Agent'; ?></h3>
<div class="row">
    <form class="col-lg-6" action="<?= $agent->getId() ? $this->url('account/agents/edit', ['id' => $agent->getId()] ) : $this->url('account/agents/create'); ?>" method="post">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Name" name="name" value="<?= $agent->getName(); ?>">
            <?= $this->validationErrors('name'); ?>
        </div>
        <div class="form-group">
            <label>Inn</label>
            <input type="text" class="form-control" placeholder="INN" name="inn" value="<?= $agent->getInn(); ?>">
            <?= $this->validationErrors('inn'); ?>
        </div>
        <div class="form-group">
            <label>Kpp</label>
            <input type="text" class="form-control" placeholder="KPP" name="kpp" value="<?= $agent->getKpp(); ?>">
            <?= $this->validationErrors('kpp'); ?>
        </div>
        <div class="form-group">
            <label>Okpo</label>
            <input type="text" class="form-control" placeholder="OKPO" name="okpo" value="<?= $agent->getOkpo(); ?>">
            <?= $this->validationErrors('okpo'); ?>
        </div>
        <div class="form-group">
            <label>Settlement Account</label>
            <input type="text" class="form-control" placeholder="Settlement Account" name="settlementAccount" value="<?= $agent->getSettlementAccount(); ?>">
            <?= $this->validationErrors('settlementAccount'); ?>
        </div>
        <div class="form-group">
            <label>Bic</label>
            <input type="text" class="form-control" placeholder="BIC" name="bic" value="<?= $agent->getBic(); ?>">
        </div>
        <div class="form-group">
            <label>Bank Name</label>
            <input type="text" class="form-control" placeholder="Bank Name" name="bankName" value="<?= $agent->getBankName(); ?>">
            <?= $this->validationErrors('bankName'); ?>
        </div>
        <div class="form-group">
            <label>Bank Correspondent Account</label>
            <input type="text" class="form-control" placeholder="Bank Correspondent Account" name="bankCorrAccount" value="<?= $agent->getBankCorrAccount(); ?>">
            <?= $this->validationErrors('bankCorrAccount'); ?>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Email" name="email" value="<?= $agent->getEmail(); ?>">
            <?= $this->validationErrors('email'); ?>
        </div>
        <button type="submit" class="btn btn-primary"><?= $agent->getId() ? 'Update' : 'Create'; ?></button>
    </form>
</div>