<h3 class="page-header mt0">Agents</h3>
<a class="btn btn-primary" href="<?= $this->url('account/agents/create'); ?>">Create Agent</a>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($agents as $agent): ?>
            <tr>
                <td><?= $agent->getId(); ?></td>
                <td><?= $agent->getName(); ?></td>
                <td><a href="<?= $this->url('account/agents/edit', ['id' => $agent->getId()])?>">Edit</a></td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>